@use "../../responsive.scss" as *;

.profilePage {
  display: flex;
  height: calc(100vh - 120px);
  padding-bottom: 20px;
  gap: 1px;

  @include md {
    flex-direction: column;
    overflow-y: visible;
    align-items: center;
  }

  .details {
    flex: 4;
    overflow-y: auto;
    padding-bottom: 50px;
    padding-top: 20px;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 10px;
      // border: 1px solid #f0e6e4;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(1, 112, 112);
    }

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 500;
          font-size: 26px;
        }

        button {
          padding: 12px 24px;
          background-color: var(--primary-color);
          color: white;
          font-weight: bold;
          border-radius: 20px;
          cursor: pointer;
          border: none;

          &:hover {
            background-color: rgb(1, 112, 112);
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: max-content;

        span {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 40px;
        }

        button {
          width: 100px;
          background-color: var(--primary-color);
          color: white;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 5px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    // background: linear-gradient(#e1e1e1, #ededed 90%, #fff);
    background: var(--bg-gradient);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    max-width: 440px;

    @include md {
      flex: none;
      height: max-content;
      padding-bottom: 50px;
      width: 100%;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
