@use "../../responsive.scss" as *;

.newPostPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #f9f9f9;

  .formContainer {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
      font-weight: 600;
      justify-self: center;
    }

    .wrapper {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;

        .item-section {
          display: flex;
          gap: 50px;

          @include sm {
            gap: 20px;
          }
        }

        .big-item-section {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          column-gap: 50px;

          // @include md {
          //   grid-template-columns: repeat(2, 1fr);
          // }
          @include sm {
            column-gap: 20px;
          }
        }

        .item {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          width: 100%;
          position: relative;

          label,
          span {
            font-size: 16px;
            color: #333;
            margin-bottom: 8px;
          }

          input[type="number"]::-webkit-outer-spin-button,
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            padding-right: 15px;
          }

          input,
          .custom-select,
          textarea {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: border-color 0.3s;

            &:focus {
              border-color: teal;
              outline: none;
            }
          }

          .custom-select__option--is-focused {
            background-color: rgba(44, 139, 139, 0.4);
            cursor: pointer;
          }

          .custom-select__option--is-selected {
            background-color: teal;
            color: white;
          }

          .custom-select__control--is-focused {
            border: 1px solid teal;
            box-shadow: none;
          }

          textarea {
            resize: none;
            width: 100%;
            height: 100px;
            font-family: "Lato", sans-serif;
          }

          .price-sign {
            position: absolute;
            right: 10px;
            bottom: 4px;
            color: #777;
          }
        }

        .addButton {
          padding: 12px 20px;
          background-color: teal;
          color: #fff;
          font-size: 16px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
          margin-top: 20px;
          letter-spacing: 1px;
          width: 200px;
          align-self: center;

          &:hover {
            background-color: rgb(1, 112, 112);
          }
        }
      }

      .imgContainer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .uploadedImages {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;

          @include sm {
            grid-template-columns: 1fr;
          }

          img {
            max-width: 100%;
            margin: 10px 0;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
