@use "../../responsive.scss" as *;

.filterContainer {
  display: flex;

  @include lg {
    max-width: 98%;
  }

  @include md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
    margin: 0 auto;
  }

  @include sm {
    max-width: 85%;
  }

  @include xs {
    max-width: 95%;
  }

  @include tiny {
    display: flex;
    flex-direction: column;
  }

  .areaHeader {
    background-color: red;
  }

  .countryDropDown input,
  .cityDropDown input {
    @include md {
      position: absolute;
      top: 100%;
      z-index: 10000;
    }
  }
  .countryDropDown .country,
  .cityDropDown .city {
    @include md {
      top: 200%;
    }
  }

  .dropdown {
    position: relative;
    width: 200px;
    color: black;

    @include tiny {
      // width: 300px;
      // max-width: 100%;
    }

    &:first-of-type .dropdownHeader {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;

      @include md {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
      }

      @include tiny {
        border-top-right-radius: 20px;
      }
    }

    &:first-of-type .active {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 0;
    }

    &:nth-of-type(2) .dropdownHeader {
      @include md {
        border-top-right-radius: 20px;
      }
      @include tiny {
        border-top-right-radius: 0px;
      }
    }

    .active {
      background: #e9e9e9;
    }

    input {
      width: 100%;
      height: 41px;
      border: none;
      border: 1px solid #ccc;
      padding: 10px;
      box-shadow: inset 0px -2px 6px rgba(0, 0, 0, 0.1);

      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: 14px;
      }
    }

    .priceDropdown {
      display: flex;

      @include md {
        position: absolute;
        top: 100%;
        z-index: 1000;
      }

      input {
        border: 1px solid #ccc;

        &:first-of-type {
          border-bottom-left-radius: 10px;
          // border-right: 1px solid #ccc;
        }
        &:last-of-type {
          border-bottom-right-radius: 10px;
        }
        // box-shadow: none;
      }
    }

    .areaDropdown {
      @include md {
        position: absolute;
      }

      .areaInputs {
        display: flex;
      }
      input {
        box-shadow: none;

        &:first-of-type {
          border-right: 1px solid #ccc;
        }
      }

      .bedroom-selector {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: #757575;

        .bedroom-list {
          display: flex;
          gap: 4px;
          margin-top: 2px;
        }

        .bedroom-btn {
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: #757575;

          &:hover {
            // color: #004da3;
            color: var(--primary-color);
          }
        }
      }

      .bedroom-selector .selected {
        // color: #004da3;
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }

  .dropdownHeader {
    background-color: #f8f9fa;
    // background-color: white;
    // border-right: 1px solid #ccc;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      // border: 1px solid #004da3;
      border: 1px solid var(--primary-color);
      border-bottom: none;
    }

    &:hover {
      background-color: #e9e9e9;
    }

    span {
      // color: #004da3;
      color: var(--primary-color);
    }
  }

  .cityAltDiv {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    color: #888;

    @include md {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;

    .country,
    .city {
      @include md {
        top: 200%;
      }
    }

    @include md {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .dropdownList::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  .dropdownList::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track (background) color */
    // border-radius: 10px;
    border-bottom-right-radius: 100px;
  }

  .dropdownList::-webkit-scrollbar-thumb {
    // background-color: #004da3; /* Thumb color */
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  .dropdownList::-webkit-scrollbar-thumb:hover {
    // background-color: #0056b3; /* Thumb color on hover */
    background-color: rgb(1, 112, 112);
  }

  .dropdownList li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }

  .dropdownList li:hover {
    // background-color: #b4cfeb;
    // color: white;
    background-color: rgba(44, 139, 139, 0.4);
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .search-btn {
    // background-color: #007bff;
    // background-color: #004da3;
    background-color: var(--primary-color);
    color: white;
    height: 41px;
    width: 48px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: pointer;

    &:hover {
      // background-color: #0056b3;
      background-color: rgb(1, 112, 112);
    }

    @include md {
      width: 200%;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    @include tiny {
      width: 105%;
    }
  }
}
