@use "../../responsive.scss" as *;

.faq-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #333;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
  }

  h3 {
    color: var(--primary-color);
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .faq-item {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    // background-color: white;
    background-color: var(--bg-navbar);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    height: auto;

    .question {
      font-weight: bold;
      // color: #444;
      color: var(--text-color);
    }

    .answerContainer {
      overflow: hidden;
      transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;

      .answer {
        margin-top: 10px;
        margin-right: 10px;
        font-size: 1rem;
        // color: #555;
        color: var(--text-color);
        // color: #555;
        line-height: 1.5;
      }
    }

    .arrow {
      position: absolute;
      right: 10px;
      top: 14px;
      transition: transform 0.3s ease-in-out;
    }
  }
}
