@use "../../responsive.scss" as *;

.register {
  height: 100%;
  display: flex;
  align-items: center;

  .formContainer {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      margin-top: 50px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      @include sm {
        width: 80%;
      }

      input {
        width: 100%;
        font-size: 16px;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 5px;
        background: transparent;
        color: var(--text-color);
      }

      button {
        width: 100%;
        font-size: 16px;
        padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: var(--primary-color);
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: rgb(1, 112, 112);
        }

        &:disabled {
          background-color: #bed9d8;
          cursor: not-allowed;
        }
      }

      span {
        color: rgba(255, 0, 0, 0.591);
      }

      a {
        font-size: 16px;
        color: gray;
        // border-bottom: 1px solid gray;
        // width: max-content;
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    // background-color: #fcf5f3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    img {
      width: 100%;
    }

    @include md {
      display: none;
    }
  }
}
