@use "../../responsive.scss" as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  // background-color: white;
  background-color: var(--bg-navbar);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .nav-div {
    width: 100%;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;
    }
    .overlay.active {
      opacity: 1;
      pointer-events: auto;
    }

    .left {
      flex: 3;
      display: flex;
      align-items: center;
      gap: 50px;

      a {
        &:first-of-type {
          width: auto;
        }

        width: 80px;

        @include sm {
          display: none;
        }

        &:hover {
          font-weight: bold;
        }
      }

      a.active {
        color: var(--primary-color);
        font-weight: bold;
      }

      .logo {
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 50px;
        }

        span {
          color: var(--primary-color);

          @include md {
            display: none;
          }

          @include sm {
            display: initial;
          }
        }
      }
    }
    .right {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      @include md {
        background-color: transparent;
      }

      .user-dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;

        @include sm {
          display: none;
        }

        .user-info {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 4px;
          border-radius: 6px;
          transition: background 0.3s;

          &:hover {
            background: #f5f5f5;
          }

          .notification {
            position: absolute;
            top: -8px;
            right: -8px;
            background-color: red;
            color: white;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .dropdown-menu {
          position: absolute;
          top: 100%;
          right: 0;
          background: white;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          border-radius: 6px;
          min-width: 150px;
          overflow: hidden;

          .dropdown-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            cursor: pointer;
            text-decoration: none;
            color: black;

            &:hover {
              background: #f0f0f0;
            }
          }
          .logout {
            border-top: 1px solid #c8c8c8;
          }
        }
      }

      .login {
        height: 40px;
        background-color: var(--primary-color);
        color: white;
        border-radius: 25px;
        padding: 12px 24px;
        transition: all 0.4s ease;

        @include sm {
          display: none;
        }

        &:hover {
          scale: 1.05;
        }
      }

      .menuIcon {
        display: none;
        z-index: 1000000;
        cursor: pointer;

        @include sm {
          display: initial;
        }
      }

      .menu {
        position: absolute;
        top: 0;
        right: -50%;
        background-color: #f9f9f9;
        height: 100vh;
        width: 50%;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 24px;
        z-index: 100000;
        padding: 20px;

        &.active {
          right: 0;
        }

        @include sm {
          a {
            display: initial;
            padding: 6px 0;
            border-bottom: 2px solid #c8c8c8;
          }
        }

        p {
          cursor: pointer;
        }
      }
    }
  }
}
