@use "../../responsive.scss" as *;

.userPage {
  .userPageHeader {
    display: flex;
    align-items: center;
    gap: 50px;

    @include md {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }

    .userInfo {
      display: flex;
      align-items: center;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          font-size: 18px;
        }

        span {
          &:last-child {
            color: #888;
            font-size: 16px;
          }
        }
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .phoneNumber {
      color: var(--primary-color);
      width: max-content;

      a {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    .messageDiv {
      display: flex;
      align-items: center;
      gap: 50px;

      @include md {
        flex-direction: column;
        align-items: start;
      }

      button {
        display: flex;
        align-items: center;
        gap: 6px;
        background: transparent;
        border: none;
        color: var(--primary-color);
        cursor: pointer;
      }

      .chatPopup {
        // position: absolute;
        // top: 34px;
        // left: 0px;
        // right: 0px;
        // background: white;
        // padding: 20px;
        // border-radius: 8px;
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 100;
        // height: max-content;
        // background-color: var(--primary-color);
        color: white;
        position: relative;
        width: 340px;
        margin-top: -10px;

        @include sm {
          width: 300px;
        }
        @include tiny {
          width: 250px;
        }

        .closeButton {
          background: var(--bg-navbar);
          border: 1px solid var(--primary-color);
          border-radius: 50%;
          cursor: pointer;
          padding: 4px;
          // color: #ccc;
          font-size: 14px;
          text-decoration: none;
          position: absolute;
          // right: 16px;
          right: -20px;
          top: -6px;
        }

        // .popupContentTop {
        //   display: flex;
        //   justify-content: space-between;
        //   align-items: center;

        //   button {
        //     background: transparent;
        //     border: none;
        //     cursor: pointer;
        //     padding: 0;
        //     color: #ccc;
        //     font-size: 18px;
        //     text-decoration: none;

        //     &:hover {
        //       color: white;
        //     }
        //   }
        // }

        .popupContentBottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          margin-right: -6px;

          .sendButton {
            width: 20px;
            height: 20px;
            color: #ccc;
            cursor: pointer;
            position: absolute;
            right: 0;
            // top: 14px;
            bottom: 10px;

            &:hover {
              color: var(--primary-color);
            }

            @include tiny {
              bottom: 16px;
            }
          }
        }

        textarea {
          width: 100%;
          height: 40px;
          margin-top: 10px;
          padding: 8px;
          resize: none;
          // border: 1px solid #ccc;
          border: 1px solid var(--primary-color);
          border-radius: 4px;
          outline: none;
          scrollbar-width: none;
          background: transparent;
          color: var(--text-color);
          // color: var(--primary-color);
          padding-right: 30px;

          @include tiny {
            height: 50px;
          }
        }

        textarea::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  h2 {
    font-size: 24px;
    margin-top: 50px;
    .username {
      font-size: 24px;
      color: var(--primary-color);
    }
  }

  .user-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 40px;

    @include md {
      grid-template-columns: 1fr;
    }
  }
}
