@use "../../responsive.scss" as *;

.homePage {
  padding-bottom: 50px;

  .loadingMessage {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .coverContainer {
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #000;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 30px;
    padding-top: 60px;
    margin-bottom: 50px;

    @include md {
      height: 440px;
    }
    @include sm {
      background: none;
      margin-top: 20px;
      height: 300px;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      padding-top: 0;
    }

    img {
      width: 100%;
      // object-fit: cover;
      position: absolute;
      top: -250px;
      opacity: 35%;

      @include lg {
        top: -200px;
      }

      @include md {
        top: 0;
      }
      @include sm {
        display: none;
      }
    }

    h1 {
      // position: absolute;
      z-index: 100;
      // top: 0;
      color: white;
      @include sm {
        display: none;
      }
    }

    .filterContainer {
      z-index: 100;
    }
  }

  .wrapper {
    // padding-right: 100px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 100%;

    @include md {
      grid-template-columns: 1fr;
    }

    @include sm {
      padding-right: 0;
    }

    .skeletonWrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 100% 100%;
      gap: 30px;

      @include md {
        grid-template-columns: 1fr;
      }
    }
  }
}
