@use "../../responsive.scss" as *;

.singlePage {
  display: flex;
  height: calc(100vh - 120px);
  padding-bottom: 20px;

  @include md {
    flex-direction: column;
    height: auto;
  }

  .details {
    flex: 3;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    .wrapper {
      height: 100%;
      padding-top: 10px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: auto;

      @include lg {
        padding-right: 20px;
      }
      @include md {
        padding-right: 0px;
        overflow-y: visible;
      }

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: teal;
        border-radius: 10px;
        border: 1px solid #f0e6e4;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(1, 112, 112);
      }

      .info {
        margin-top: 50px;

        .top {
          width: max-content;

          @include sm {
            flex-direction: column;
            gap: 20px;
            width: auto;
            max-width: max-content;
          }

          h1 {
            font-weight: 400;
          }

          .sizes {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            @include tiny {
              font-size: 12px;
              gap: 0;
            }

            .size {
              display: flex;
              align-items: center;
              gap: 10px;
              border-radius: 5px;
              margin-top: 30px;

              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
        .bottom {
          margin-top: 50px;
          color: #555;
          line-height: 20px;
          border-top: 1px solid #ccc;
          padding-top: 20px;
        }
      }
    }
  }
  .features {
    flex: 2;
    border-left: 1px solid #ccc;

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 100px;
      border-left: none;
    }

    .wrapper {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include md {
        padding: 0;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .saveBtn {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }

      .address {
        display: flex;
        gap: 5px;
        align-items: center;
        color: #888;
        font-size: 14px;

        img {
          width: 16px;
          height: 16px;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        div {
          display: flex;
          flex-direction: column;

          span {
            &:last-child {
              color: #888;
              font-size: 14px;
            }
          }
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .phoneNumber {
        display: flex;
        align-items: center;
        gap: 10px;
        color: teal;
        width: max-content;

        a {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }

      .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
      }

      .price {
        padding: 5px;
        border-radius: 5px;
        width: max-content;
        font-size: 24px;
        font-weight: 600;
        color: teal;

        span {
          font-size: 14px;
          color: #888;
        }
      }

      .feature {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          background-color: rgba(254, 205, 81, 0.209);
        }

        .featureText {
          span {
            font-weight: bold;
          }
          p {
            font-size: 14px;
          }
        }
      }

      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }
      .listHorizontal {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }

      .mapContainer {
        width: 100%;
        height: 200px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        position: relative;

        button {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          padding: 0;
          background-color: transparent;
          border: none;
          color: teal;
          font-size: 14px;
          width: max-content;
        }

        .chatPopup {
          position: absolute;
          top: 34px;
          left: 0px;
          right: 0px;
          background: white;
          padding: 20px;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          z-index: 100;
          height: max-content;
          background-color: teal;
          color: white;

          .popupContentTop {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
              background: transparent;
              border: none;
              cursor: pointer;
              padding: 0;
              color: #ccc;
              font-size: 18px;
              text-decoration: none;

              &:hover {
                color: white;
              }
            }
          }

          .popupContentBottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-right: -6px;

            .sendButton {
              width: 24px;
              height: 24px;
              color: #ccc;
              cursor: pointer;

              &:hover {
                color: white;
              }
            }
          }

          textarea {
            width: 100%;
            height: 34px;
            margin-top: 10px;
            padding: 8px;
            resize: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            scrollbar-width: none;
          }

          textarea::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
