@use "../../responsive.scss" as *;

.profileUpdatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;

  h1 {
    color: var(--primary-color);
  }

  .profileUpdatePageCointainer {
    .formContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 400px;

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          gap: 5px;
          display: flex;
          justify-content: space-between;

          @include superTiny {
            flex-direction: column;
            justify-content: center;
          }

          label {
            font-weight: bold;
          }

          .valueContainer {
            display: flex;
            align-items: center;
            gap: 5px;
          }

          input {
            border: none;
            outline: none;
            padding: 4px;
            background: var(--bg-navbar);
            color: var(--text-color);

            &:focus {
              border-bottom: 1px solid black;
            }
          }

          .editIcon {
            color: var(--primary-color);
            width: 20px;
            height: 20px;
            cursor: pointer;
          }

          .eyeIcon {
            color: var(--primary-color);
            cursor: pointer;
          }
        }

        .changePasswordButton {
          background: transparent;
          border: none;
          color: var(--primary-color);
          font-weight: bold;
          font-size: 14px;
          cursor: pointer;
          align-self: flex-start;
        }

        .updateButton {
          padding: 20px;
          border-radius: 5px;
          border: none;
          background-color: var(--primary-color);
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s;
          letter-spacing: 1px;

          &:hover {
            background-color: rgb(1, 112, 112);
          }
        }

        .errorMessage {
          color: red;
        }
      }
    }

    .sideContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .avatarCointainer {
        width: 50%;
        position: relative;

        .avatar {
          width: 100%;
          object-fit: cover;
        }

        .deleteImage {
          border: 1px solid black;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #fff;
          transform: translate(50%, -50%);
        }
      }
    }
  }
}
