@use "../../responsive.scss" as *;

.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;

  .fullSlider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;

    .arrow {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;

        @include md {
          width: 30px;
        }

        @include sm {
          width: 20px;
        }

        &.right {
          transform: rotate(180deg);
        }
      }
    }
    .imgContainer {
      flex: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 50px;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  .bigImage {
    flex: 3;
  }
  .smallImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 25px;
    position: relative;

    img {
      height: 100px;
    }

    .extraImages {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
      position: absolute;
      bottom: 0;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
