@use "../../responsive.scss" as *;

.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;

  .fullSlider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
    overflow: hidden;

    .arrow {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;

      .arrowIcon {
        color: white;
        font-size: 80px;
        cursor: pointer;
      }
    }
    .imgContainer {
      flex: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      // overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
        opacity: 1;
      }

      .prevImage {
        opacity: 1;
        z-index: 1;
        animation: fadeOut 0.4s forwards;
      }

      .currentImage {
        z-index: 2;
        transform: translateX(0);
      }

      .currentImage.left {
        animation: slideFromLeft 0.4s forwards;
      }

      .currentImage.right {
        animation: slideFromRight 0.4s forwards;
      }

      &.left img {
        animation: slideLeft 0.4s forwards;
      }

      &.right img {
        animation: slideRight 0.4s forwards;
      }
    }

    @keyframes slideLeft {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }

    @keyframes slideRight {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 50px;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  .bigImage {
    flex: 3;
  }
  .smallImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;

    img {
      height: 100px;
    }

    .extraImages {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
      position: absolute;
      bottom: 0;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
